In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('Reasoning_dataset.csv', index_col='index')
df.head()

,instruction-arabic,input-arabic,output-arabic
index,,,
1,تقييم هذه الجملة للأخطاء الإملائية والنحوية,أنهى وجبته وغادر المطعم,هناك نوعان من الأخطاء الإملائية في الجملة، يجب...
2,"كتابة ثلاثة أفعال تعني ""الاعتذار""",NaN,التعبير عن الندم، الاسف، التعويض
3,إنشاء قائمة من الكلمات العشوائية.,NaN,فيما يلي قائمة بعشر كلمات عشوائية:\n1. مراوغة\...
4,أعد كتابة الجملة التالية للضمير المبني للمجهول.,كتب الكابتن التقرير الإخباري.,كُتب التقرير الإخباري.
5,رتب الكلمات في الجملة المحددة لتكوين جملة صحيح...,بسرعة، قفز، البني، الثعلب,قفز الثعلب البني بسرعة.

In [9]:
df['input-arabic'].isnull().sum()

0

In [18]:
import re
def _remove_diacritics(text):
    text = re.sub(r"[ًًٌٍَُِّْ]", "", text)
    return text

In [24]:
listq = ['instruction-arabic', 'input-arabic','output-arabic']

for i in listq:
    df[i] = df[i].apply(lambda x : _remove_diacritics(x))

In [25]:
df['output-arabic'][4]

'كتب التقرير الإخباري.'

In [26]:
import numpy as np
df['input-arabic'] = df['input-arabic'].replace(np.nan, "")
df.head()

,instruction-arabic,input-arabic,output-arabic
index,,,
1,تقييم هذه الجملة للأخطاء الإملائية والنحوية,أنهى وجبته وغادر المطعم,هناك نوعان من الأخطاء الإملائية في الجملة، يجب...
2,"كتابة ثلاثة أفعال تعني ""الاعتذار""",,التعبير عن الندم، الاسف، التعويض
3,إنشاء قائمة من الكلمات العشوائية.,,فيما يلي قائمة بعشر كلمات عشوائية:\n1. مراوغة\...
4,أعد كتابة الجملة التالية للضمير المبني للمجهول.,كتب الكابتن التقرير الإخباري.,كتب التقرير الإخباري.
5,رتب الكلمات في الجملة المحددة لتكوين جملة صحيح...,بسرعة، قفز، البني، الثعلب,قفز الثعلب البني بسرعة.

In [29]:
def create_question(row):
  instruction = row['instruction-arabic']
  input_text = row['input-arabic']
  return instruction + (" : " + input_text if input_text else "")

df['question'] = df.apply(create_question, axis=1)
df.head()

,instruction-arabic,input-arabic,output-arabic,question,answer
index,,,,,
1,تقييم هذه الجملة للأخطاء الإملائية والنحوية,أنهى وجبته وغادر المطعم,هناك نوعان من الأخطاء الإملائية في الجملة، يجب...,تقييم هذه الجملة للأخطاء الإملائية والنحوية : ...,هناك نوعان من الأخطاء الإملائية في الجملة، يجب...
2,"كتابة ثلاثة أفعال تعني ""الاعتذار""",,التعبير عن الندم، الاسف، التعويض,"كتابة ثلاثة أفعال تعني ""الاعتذار""",التعبير عن الندم، الاسف، التعويض
3,إنشاء قائمة من الكلمات العشوائية.,,فيما يلي قائمة بعشر كلمات عشوائية:\n1. مراوغة\...,إنشاء قائمة من الكلمات العشوائية.,فيما يلي قائمة بعشر كلمات عشوائية:\n1. مراوغة\...
4,أعد كتابة الجملة التالية للضمير المبني للمجهول.,كتب الكابتن التقرير الإخباري.,كتب التقرير الإخباري.,أعد كتابة الجملة التالية للضمير المبني للمجهول...,كتب التقرير الإخباري.
5,رتب الكلمات في الجملة المحددة لتكوين جملة صحيح...,بسرعة، قفز، البني، الثعلب,قفز الثعلب البني بسرعة.,رتب الكلمات في الجملة المحددة لتكوين جملة صحيح...,قفز الثعلب البني بسرعة.

In [30]:
df['answer'] = df['output-arabic']
dataset = df[['question', 'answer']].copy()
dataset.head()

,question,answer
index,,
1,تقييم هذه الجملة للأخطاء الإملائية والنحوية : ...,هناك نوعان من الأخطاء الإملائية في الجملة، يجب...
2,"كتابة ثلاثة أفعال تعني ""الاعتذار""",التعبير عن الندم، الاسف، التعويض
3,إنشاء قائمة من الكلمات العشوائية.,فيما يلي قائمة بعشر كلمات عشوائية:\n1. مراوغة\...
4,أعد كتابة الجملة التالية للضمير المبني للمجهول...,كتب التقرير الإخباري.
5,رتب الكلمات في الجملة المحددة لتكوين جملة صحيح...,قفز الثعلب البني بسرعة.

In [34]:
dataset = dataset.sample(frac=1, random_state= 42).reset_index(drop=True)
dataset.head()

,question,answer
0,صنف الكلمات التالية إلى فواكه أو خضروات: التوت...,الفواكه: التوت، الطماطم، الجريب فروت. الخضار: ...
1,بالنظر إلى عينة من النص، قم بتحريرها لجعلها أك...,تعتبر الشاشات الكبيرة مثالية لمشاهدة الأفلام و...
2,أعد كتابة الجملة بنفس المعنى ولكن بوضوح. : الو...,الوضع الاقتصادي الحالي غير مناسب.
3,قم بتعديل النص لجعله أكثر إيجازا باستخدام ما ل...,يقدم قسم المخابز مجموعة متنوعة من الحلويات مثل...
4,أعد كتابة العبارة التالية لتصبح أمنية. : يجب ع...,أتمنى ان تبذل الجامعة جهدا لرفع مستوى مخرجاتها.

In [35]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3013 entries, 0 to 3012
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   question  3013 non-null   object
 1   answer    3013 non-null   object
dtypes: object(2)
memory usage: 47.2+ KB

In [36]:
from sklearn.model_selection import train_test_split
train_df, eval_df = train_test_split(dataset, test_size=0.1, random_state=42)

In [37]:
len(train_df), len(eval_df)

(2711, 302)

In [38]:
train_df.to_json('train-QA-Reasoning-Ara.json')
eval_df.to_json('val-QA-Reasoning-Ara.json')

In [39]:
train_df.head()

,question,answer
2902,"قم بتصنيف هذا النص المحدد إلى ""إيجابي"" أو ""سلب...",سلبي
173,في هذه المهمة، عليك أن تكتب الرد المناسب على ع...,"""فكرة رائعة! أخذ فترات راحة أمر مهم لتحديث عقل..."
1867,بالنظر إلى قائمة العناصر، قم بإزالة التكرار. :...,القائمة النهائية بدون التكرار هي [3، 7، 8، 6، 4].
296,اقترح حلا للمشكلة التالية:قراءة الرسائل النصيه...,أحد الحلول لمشكلة إرسال الرسائل النصية والقياد...
2855,اكتب سؤالا باستخدام الكلمات التالية: البشر، ال...,هل هناك كواكب أخرى غير الأرض يمكنها أن تحافظ ع...